
body {
    background-color: #efefef !important;
}

.speakers-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-container {
    padding: 20px;
}

.main-container h1 {
    line-height: 30px;
    padding-left: 30px;
    margin-bottom: 50px;
    font-weight: 400;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #666;
}

.container {

    margin: 10px;
}

.card {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: -webkit-transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border-radius: 6px;
    box-shadow: 0 6px 16px rgba(0,0,0,0.15);
    cursor: pointer;
  }
  .card div {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 6px;
    background: #fff;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -o-box-pack: center;
    justify-content: center;
    -o-box-align: center;
    align-items: center;
    font: 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #47525d;
  }
  .card .front h2 {
    margin:0;
    line-height: 25px;
  }
  .card .front small {
    padding: 11px;
  }
  .card .front img {
      border-radius: 50%;
      margin-bottom: 10px;
  }
  .card .front span {
    text-align: center;
    padding: 15px;
  }
  .card .front span small {
    font-size: 11px;
  }
  .card .back {
    overflow: hidden;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  .card .back p {
    font-size: 12px;
    padding: 10px;
  }
  .card.flipped {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  
  .container {
    width: 300px;
    height: 350px;
    position: relative;
    -webkit-perspective: 800px;
    -ms-perspective: 800px;
    perspective: 800px;
    border-radius: 4px;
  }

  .social { 
  }
