<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%} 

  <body>
    <style> 
      {%- include custom.scss -%}
    </style>
    <div class="full-container">
      <div class="sidebar">

        <h1> Speakers <br/> <small>peruanos.dev</small> </h1>
        <p>¡Hola!. Estamos creando un directorio de speakers voluntarios.</p>
        <p>El cual pretende resolver el problema de:</p>
        <ul>
          <li>Estoy organizando un evento, meetup o conf y no se a que speakers llamar.</li>
          <li>Tengo cosas que contar, me gustaría dar una charla, pero no conozco a ningún organizador</li>
        </ul>
        <br/>
        <p><b>¿Quieres ser un speaker?</b></p>
        
        <ol>
          <li> Crear un archivo con tu nombre en el directorio _speakers </li>
          <li> Registrar tus datos </li>
          <li> Envia tu <a href="https://github.com/peruanosdev/speakers.peruanos.dev">Pull Request</a> </li>
        </ol>
        <br/><br/>
        <div class="contribute-button">
            <a href="https://github.com/peruanosdev/peruanos.github.io">
              <svg viewBox="0 0 32.579 31.775" width="32px" height="32px">
                <path transform="translate(-136.32 -107.44)" d="M152.608,107.44a16.291,16.291,0,0,0-5.148,31.747c.815.149,1.112-.353,1.112-.785,0-.387-.014-1.411-.022-2.771-4.531.985-5.487-2.183-5.487-2.183a4.315,4.315,0,0,0-1.809-2.383c-1.479-1.011.112-.99.112-.99a3.42,3.42,0,0,1,2.495,1.678,3.468,3.468,0,0,0,4.741,1.354,3.482,3.482,0,0,1,1.034-2.178c-3.617-.411-7.42-1.808-7.42-8.051a6.3,6.3,0,0,1,1.677-4.371,5.852,5.852,0,0,1,.16-4.311s1.367-.438,4.479,1.67a15.448,15.448,0,0,1,8.156,0c3.11-2.108,4.475-1.67,4.475-1.67a5.854,5.854,0,0,1,.163,4.311A6.286,6.286,0,0,1,163,122.878c0,6.258-3.809,7.635-7.438,8.038a3.889,3.889,0,0,1,1.106,3.017c0,2.178-.02,3.935-.02,4.469,0,.435.294.942,1.12.783a16.292,16.292,0,0,0-5.16-31.745Z" fill="#0f0c0d" fill-rule="evenodd" data-name="Trazado 1"></path>
              </svg>
          
              <span>Contribute to this project</span>
            </a>
          </div>
      </div>
      <main class="page-content" aria-label="Content">
          {{ content }}
      </main>
    </div>
    <script>
        {%- include utils.js -%} 
    </script>
  </body>

</html>